<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Page</title>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
    <h2>About</h2>

    <div class="aboutimg">
    <h1>IMAGE OF DOCTOR IN THE CENTER</h1>
    </div>

     <p>Dr. Yoly Estrada has been actively treating patients and working for more than 15 years. She participates in yearly<br>
    Dentistry conventions by discussing challenges the Dental industry faces. Come meet Dr. Yoly Estrada for a free consultation
    on the dental work you would like provided. A healthy smile is a happy smile. Blah blah blah blah blah blah blah blah narf. <br>
        Test.
     </p>

     <p>For appointments, please call us at: 818-838-7003 or <a href="/inquirypage">click here</a> to schedule an appointment now.</p>

    <br>

    <p>List accomplishments: Graduated from UCLA. </p>
    
</body>
</html>