<link rel="stylesheet" href="~/css/bootstrap-grid.css"/>

<center><h1>Administrator Dashboard</h1>

<a class="btn btn-info" href="/admin/appointment/new" role="button">Create New Appointment</a>

</center>


<div class="row">
    <div class="col-8"><center><h3>Appointments</center></h3></div>
    <div class="col-4"><center><h3>Activity Log</center></h3></div>
</div>