<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Contact Page</title>
  <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>

    <h2>Contact Us</h2>

    <p>Schedule an appointment by calling: 818-838-7003 or <a href="/inquirypage">click here</a> to schedule an appointment online.</p>

    <h1>Image of Google Location?</h1>
   


<h1><iframe width="300" height="250" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/search?q=451SBrandBlvdSanFernandoCA91340&key=AIzaSyAWVhpsBpoyphFz3qu3N3sFEnTiyOEEJ_o" allowfullscreen></iframe></h1>

  
</body>
</html>