<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
    <h3><a href="inquirypage"><button>Request Appointment</button></a></h3>

    <h4>Call to schedule an appointment: 818-838-7003</h4>

    <img src="/images/DDS_sign.jpg" alt="Yoly Estrada DDS" class="indeximg">

    <a href ="https://www.yelp.com/biz/yoly-estrada-dds-san-fernando" target="_blank">
    <img src="/images/yelp5star.png" alt="Check us out on Yelp" class="yelpimg">
    </a>

    <a href="https://www.facebook.com/pages/Estrada-Yoly-DDS/124970914223752?__tn__=%2CdkC-R-R&eid=ARD0ZMum7-X8JuilSXSeESFaO2l9l97IuoklL0ZQEP7MEKlGWG6kBeqcV8XXorZdtyyT1iTpgAg8bSBr&hc_ref=ARREObVOUDac_b-hfxDKs5vy2FMQa7D1yQGNQ4glJVkKsuvN_oLuzhzeNMs49__v9uA&fref=tag" target="_blank">
    <img src="/images/facebook.png" alt="Check us out on Facebook" class="facebookimg">
    </a>
    

</body>
</html>