<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Payment Options</title>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
        <h1 class="payment">We accept all your money</h1>

        <h3>Insurance:</h3>

        <p>We accept PPO insurance, cash, check, and credit cards. </p>
    
</body>
</html>