<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Services</title>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>

    <h3>Cleaning</h3>
    <p class="cleaning">Get your teeth cleaned</p>

    <h3>Root Canal</h3>
    <p class="canal">Fix your teeth</p>

    <h3>Braces</h3>
    <p class="braces">Straighten your teeth</p>
    
</body>
</html>